* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#form {
    max-width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}

input {
    border-color: rgb(118, 118, 118);
}

#personal-info input, #product-info input {
    width: 100%;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: rgb(118, 118, 118);
}

textarea {
    width: 100%;
    border-color: rgb(118, 118, 118);
}

.complaint-description, .solution-description{
    display: none;
}

.show {
    display: block;
}

#btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#submit-btn, #clear-btn {
    margin: 10px 15px 0;
}

.completion-popup {
    position: fixed;
    top: 90%;
    right: calc(50vw - 110px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(173, 58, 58);
    padding: 5px;
    transform: scale(0.8);
    opacity: 0; 
    transition: all 0.3s ease-in-out; 
}

.completion-popup.completed{
    background-color: green
}

.completion-popup.no-show{
    opacity: 0;
    transform: scale(0); 
}

.completion-popup.show{
    opacity: 1;
    transform: scale(1); 
}